@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", Arial;
}

:root{
    --primary-color: #3d3d3d;
    --text-dark: #2c2724;
    --white: #ffff;
    --max-width: 1200px;
}

img{
    display: flex;
    width: 100%;
}

.btn{
    outline: none;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav-header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-dark)
}

.nav-logo a{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
}

.nav-menu-btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav-links{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--text-dark);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav-links.open{
    transform: translateY(0);
}

.nav-links a{
    font-weight: 600;
    color: var(--primary-color);
}

.nav-links a:hover{
    color: var(--white);
}

.nav-btns{
    display: none;
}

.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 0;
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.container-left{
    padding-inline: 1rem;
    text-align: center;
}

.container-left h1{
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
}

.container-left .btn{
    padding: 1rem 2rem;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--text-dark);
}

.container-left .btn:hover{
    background-color: var(--primary-color);
    color: var(--text-dark);
}

.container-right{
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
}

.container-right::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transform-origin: left;
    height: 80%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    z-index: -1;

    animation: show .75s 1.25s ease-in-out forwards;
}

@keyframes show{
    0%{
        width: 100%;
    }

    100%{
        width: calc(100% - 2rem);
    }
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-1{
    max-width: 500px;
    transform: translateX(2rem);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgb(0,0,0, 0.2);
}

.pic-3{
    max-width: 400px;
    transform: translate(-3rem, 6rem);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgb(0,0,0, 0.2);
}

.content{
    margin-top: 3rem;
    text-align: justify;
}

.content h4{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: var(--white);
}

.content p{
    margin-bottom: 2rem;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
}


@media (width > 768px){
    nav{
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav-header{
        flex: 1;
        padding: 0;
        background-color: transparent;
    }

    .nav-logo a {
        color: var(--text-dark);
    }

    .nav-menu-btn{
        display: none;
    }

    .nav-links{
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }

    .nav-links a{
        color: var(--text-dark)
    }

    .nav-links a:hover{
        color: var(--text-dark);
        text-decoration: solid underline var(--text-dark) 2px;
        text-underline-offset: 4px;
        transition: 0.3s;
    }

    .nav-btns{
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .nav-btns .btn{
        font-size: 1.5rem;
        color: var(--text-dark);
        background-color: transparent;
    }

    .container{
        grid-template-columns: 2fr 3fr;
        align-items: center;
        padding: 2rem 0;
    }

    .content p{
        text-align: justify;
        display: flex;
        align-items: center;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .pic-1{
        max-width: 400px;
        height: 400px;
        transform: translateX(2rem);
    }

    .pic-3{
        max-width: 300px;
        height: 200px;
        transform: translate(-3rem,8rem);
    }
}
